@use 'itemList';

#products-list-page {
    --table-row-hover: rgba(var(--primary-100) / 0.2);
    --table-row-active: rgba(var(--primary-200) / 0.35);
    --table-header-background: rgba(var(--primary-100) / 0.3);
}
