@use 'itemList';

#users-list-page {
    --table-row-hover: rgba(var(--tertiary-100) / 0.2);
    --table-row-active: rgba(var(--tertiary-200) / 0.35);
    --table-header-background: rgba(var(--tertiary-100) / 0.3);

    .users-list-actions {
        margin-bottom: 16px;
    }
}
