//@use "@guebbit/scss-library/components/molecules/cards/SimpleCard" as * with (
//  $scss-library-component-name: "theme-card",
//);
$scss-library-component-name: "theme-card";
@import "@guebbit/scss-library/components/molecules/cards/SimpleCard";

.theme-card {
  --background: var(--card-background-color);
  --text-color: var(--card-text-color);
  --active-background: var(--card-background-active-color);
  --active-text-color: var(--card-text-active-color);

  width: 400px;
  transition:
          color var(--transitions-time, 0.2s),
          background-color var(--transitions-time, 0.2s),
          border var(--transitions-time, 0.2s);
}