@import "@guebbit/scss-library/components/molecules/cards/SimpleCard";

//:root{
//  --simple-card-background: var(--card-background-color);
//  --simple-card-text-color: var(--card-text-color);
//  --simple-card-active-background: var(--card-background-active-color);
//  --simple-card-active-text-color: var(--card-text-active-color);
//}

.theme-card {
  @extend %simple-card, .animate-on-hover;

  --simple-card-background: var(--card-background-color);
  --simple-card-text-color: var(--card-text-color);
  --simple-card-active-background: var(--card-background-active-color);
  --simple-card-active-text-color: var(--card-text-active-color);

  width: 400px;
  transition:
          color var(--transitions-time, 0.2s),
          background-color var(--transitions-time, 0.2s),
          border var(--transitions-time, 0.2s);
}