@use "@guebbit/css-toolkit" as guebbit;

/**
 * Theme colors
 */
$primary-color: #32c9dc !default;
$secondary-color: #ffac32 !default;
$primary-color--dark: #00bcd4 !default;
$secondary-color--dark: #ff9800 !default;

$theme-colors: (
        "primary": guebbit.create-collection($primary-color),
        "secondary": guebbit.create-collection($secondary-color),
        "primary--dark": guebbit.create-collection($primary-color--dark),
        "secondary--dark": guebbit.create-collection($secondary-color--dark)
);
