/**
 * Main settings
 */
$css-ui-dark-theme-class: "theme--dark" !default;

/**
 * Media thresholds
 * "tablet" is between mobile and desktop
 * Should always start with mobile then using "@media (min-width: XXX)" for desktop
 */
$g-threshold-mobile: 540px !default;
$g-threshold-desktop: 1280px !default;

/**
 * Sizes
 */
$g-padding: 28px !default;
$g-transitions-time: 0.2s !default;
$g-nav-height: 54px !default;