@use "@guebbit/css-toolkit" as guebbit;
@use "variables" as vars;
@use "colors" as colors;
@use "functions" as fn;
@use "components/atoms/theme-button";
@use "components/atoms/theme-input";
@use "components/atoms/theme-select";
@use "components/atoms/theme-page-title";
@use "components/atoms/theme-card";

/**
 * Create specific colors (css vars and various helper classes),
 * Theme colors and material various colors as helpers
 */
@include guebbit.create-colors(colors.$theme-colors);
@include guebbit.create-colors(guebbit.$colors-collection, (), ("root", "on-root"));

/**
 * Default theme
 */
:root {

  /**
   * Overrides
   */
  --on-secondary-600: #fff !important;

  /**
   * Generic variables
   */
  --padding: #{vars.$g-padding};
  --transitions-time: #{vars.$g-transitions-time};
  --nav-height: #{vars.$g-nav-height};

  /**
   * CSS Theme (semantic color variables for this project)
   */
  --body-background-color: rgb(var(--core-white));
  --body-text-color: rgb(var(--grey-900));

  --title-border-color: rgb(var(--primary-500));

  // theme anchors
  --anchor-text-color: rgb(var(--primary-500));
  --anchor-background-color: transparent;
  --anchor-text-active-color: rgb(var(--on-secondary-600));
  --anchor-background-active-color: rgb(var(--secondary-600));

  // theme buttons
  --button-text-color: rgb(var(--on-primary-500));
  --button-background-color: rgb(var(--primary-500));
  --button-text-active-color: rgb(var(--on-secondary-500));
  --button-background-active-color: rgb(var(--secondary-500));

  // theme inputs
  --input-text-color: rgb(var(--on-primary-500));
  --input-background-color: #{rgba(fn.get-theme-color("primary", "500"), 0.1)};
  --input-border-color: rgb(var(--primary-500));
  --input-background-active-color: #{rgba(fn.get-theme-color("secondary", "500"), 0.1)};
  --input-text-active-color: rgb(var(--on-secondary-500));
  --input-border-active-color: rgb(var(--secondary-500));

  // theme cards
  --select-text-color: rgb(var(--on-primary-500));
  --select-background-color: rgb(var(--primary-500));
  --select-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --select-icon-background: rgb(var(--primary-700));

  // theme cards
  --card-text-color: rgb(var(--on-primary-500));
  --card-background-color: rgb(var(--primary-500));
  --card-text-active-color: rgb(var(--on-secondary-500));
  --card-background-active-color: rgb(var(--secondary-500));
}


/**
 * Dark Theme (overrides from light theme)
 */
@mixin theme-dark-builder {
  --card-text-color: rgb(var(--on-primary-500));
  --card-background-color: rgb(var(--primary-700));
  --card-text-active-color: rgb(var(--on-secondary-700));
  --card-background-active-color: rgb(var(--secondary-700));
}

/**
 * By class
 */
.#{vars.$css-ui-dark-theme-class}{
  :root{
    @include theme-dark-builder;
  }
}

/**
 * By browser
 */
@media (prefers-color-scheme: dark) {
  :root{
    @include theme-dark-builder;
  }
}
