@import "@guebbit/scss-library";
@import "@styles/global";

/**
 * Transform colors in CSS variables
 * @import "@guebbit/scss-library/global/includers/colors";
 */
@include guebbit-include-colors((), ("root", "on-root"));

/**
 * Default theme
 */
:root {
  /**
   * Generic variables
   */
  --transitions-time: #{$g-transitions-time};
  --nav-height: #{$g-nav-height};
  --media-query-desktop: #{$g-media-query-desktop};

  /**
   * CSS Theme (semantic color variables for this project)
   */
  --body-background-color: var(--core-white);
  --body-text-color: var(--grey-900);

  --title-border-color: var(--primary-500);

  --anchor-text-color: var(--primary-500);
  --anchor-background-color: transparent;
  --anchor-text-active-color: var(--on-secondary-500);
  --anchor-background-active-color: var(--secondary-500);

  --button-text-color: var(--on-primary-500);
  --button-background-color: var(--primary-500);
  --button-text-active-color: var(--on-secondary-500);
  --button-background-active-color: var(--secondary-500);

  --input-text-color: var(--on-primary-500);
  --input-background-color: rgba(var(--primary-500), 0.2);
  --input-border-color: var(--primary-500);
  --input-text-active-color: var(--on-secondary-500);
  --input-border-active-color: var(--secondary-500);

  --card-text-color: var(--on-primary-500);
  --card-background-color: var(--primary-500);
  --card-text-active-color: var(--on-secondary-500);
  --card-background-active-color: var(--secondary-500);
}

/**
 * Dark Theme (changes from default variables)
 */
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: var(--grey-900);
    --body-text-color: var(--core-white);
  }
}
